/* FormUI Component */

.customForm{
    padding: 1em;
    padding-top: 2em;
    width: 34em;
    left: 37%;
    top: 25%;
    border: 1px solid grey;
    position: absolute;
    z-index: 2;

}

div[id*=-form-container] .form-fields, .form-buttons
{
    padding: 1em;
    border-bottom: none;
}

div[id*=-form-container]
{
    margin-bottom: 1em;
}

div#comp-logo{
    width: 100%;
    /*text-align: center;*/
    margin-bottom: 2em;
}
