/* FormUI Component */

.parent-block {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36em;
    height: 36em;
    /*todo: position is written twice*/
    position: absolute;
    margin-top: -18em;
    margin-left: -18em;

}

.registration-block {
    padding: 1em;
    padding-top: 2em;
    width: 34em;
    box-shadow: 0.33px 2px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

div[id*=-form-container] .form-fields, .form-buttons {
    padding: 1em;
    border-bottom: none;
}

div[id*=-form-container] {
    margin-bottom: 1em;
}

div#comp-logo {
    width: 100%;
    margin-bottom: 2em;
}
